/**
 * Reset CSS
 */
 body {
    color: #000;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #000;
}
.sj-username1 a {
    color: #000;
}
.v-hidden {
    visibility: hidden;
}
/**
 * Main Menu
 */
.sj-navigation > ul > li > a {
    padding: 10px 12px;
}

.sj-navigation > ul > li.menu-item-has-children > a, 
.sj-navigation > ul > li.page_item_has_children > a {
    position: relative;
    padding: 10px 30px 10px 12px;
}

.sj-btntopsearch {
    margin: 0 20px 0 15px;
}

/**
 * secondary-menu
 */
.sj-breadcrumb.secondary-menu li a {
    padding: 15px 20px;
    font-size: 14px;
}
.sj-breadcrumb.secondary-menu li.active a, 
.sj-breadcrumb.secondary-menu li a:hover, 
.sj-breadcrumb.secondary-menu li a:focus {
    background: #4E5158;
}
.sj-breadcrumb.secondary-menu li a sup {
    color: #0def7e;
    font-size: 14px;
    font-weight: 700;
}

ol.sj-breadcrumb.secondary-menu {
    margin: -15px 0;
    list-style: none;
    font-size: 0;
}

.sj-breadcrumb.secondary-menu li:after {
    display: none;
}

.sj-breadcrumb.secondary-menu li {
    padding: 0;
}

/**
 * sj-head
 */
.sj-head h3 a {
    text-transform: initial;
}

/**
 * sj-bannersidebar
 */
nav.sj-bannersidebar ul {
    font-size: 0
}
nav.sj-bannersidebar ul li{
    list-style: none;
}

nav.sj-bannersidebar ul li a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    background: #EEEEEE;
    display: block;
    margin: 5px 0;
    padding: 0 10px;
}

nav.sj-bannersidebar ul li.active a, 
nav.sj-bannersidebar ul li a:hover, 
nav.sj-bannersidebar ul li a:focus {
    color: #4ad38f;
}

/**
 * color css
 */
a.sj-btnview{
    color: #4AD38F!important;
}

.sj-widgetcontent ul li a:hover,
.sj-widgetcontent ul li a:focus,
.sj-widgetcontent ul li a:active,
.sj-editorchoice:hover .sj-head h3 a {
    color: #4AD38F!important;
}


.sj-widgetcontent ul li a {
    color: #000000;
}
.sj-loging li a {
    color: #000;
}
/**
 * sj-sidebar 
 */
.sj-sidebar .sj-widgetresources {
    padding-left: 0;
}
/* =============================================
            Home Banner Style                   
============================================= */
.sj-bannercontent {
    width: 100%;
    float: left;
    padding: 0px 0;
}

.sj-bannercontent h1 {
    font-size: 38px;
    margin: 0 0 17px;
    padding: 0 0 16px;
    line-height: 1.45;
    text-transform: unset;
}
.sj-bannercontent .sj-description p {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}


.sj-bookimg {
    float: right;
}

.sj-postbook {
    margin: 0 0 60px;
}
.sj-featureimg {
    padding: 0 0 0px 30px;
}


/**
 * sj-editorchoiceslider
 */
.sj-editorchoice figure.sj-postimg {
    float: right;
    visibility: hidden;
}
.sj-editorchoice:hover .sj-postimg:before {
    opacity: 1;
    visibility: hidden;
}



/**
 * editor panel
 */
button.sj-btn.sj-btnactive {
    position: relative;
}

button.sj-btn.sj-btnactive:focus{
    outline: none;
}


button.sj-btn.sj-btnactive sup {
    position: absolute;
    top: -18px;
    right: -10px;
    background: #E35163;
    font-size: 14px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

/**
 * editorial-board
 */
h3.pagex-title {
    color: #000;
    font-weight: 700;
    margin: 0px auto 30px;
}
table.editorial-board {
    border-color: #000;
}
table.editorial-board tr td {
    color: #000;
    line-height: 1.65;
}
table.editorial-board tr td:first-child {
    width: 65px;
}
table.editorial-board tr td:nth-child(2) {
    text-align: left;
}
table.editorial-board tr:nth-child(1) td {
    text-align: center;
}
table.editorial-board tr td {
    color: #000;
}


/**
 * Instructions to Authors
 */
.block-lists {
    color: #000;
    font-size: 16px;
    font-family: auto;
}


/**
 * archive
 */
 .sj-articlearchive > li {
    min-height: 70px;
 }

/**
 * Subsription and Advertisement Policy
 */

table.editorial-board.advertisement-policy-table tr td:first-child {
    width: 165px;
}

table.editorial-board.advertisement-policy-table tr td{    
   text-align: center
}
table.editorial-board.advertisement-policy-table tr td:nth-child(n+2) {
    
   text-align: center
}


/**
 * Footer Section
 */
.sj-fcol .sj-logo {
    width: 95%;
}


